<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<header role="header">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <div class="container">
        <title>
            无纸化会议系统,智能会议扩声解决方案,专业音视频解决方案提供商,专业音视频互联互通解决方案提供商,多媒体扩声解决方案,电教音响,音响,功放,话筒,2.4G话筒,分布式会议管理,远程视频会议,广州佳比亚电子科技有限公司</title>
        <meta name="keywords"
              content="无纸化会议系统,智能会议扩声解决方案,专业音视频解决方案提供商,专业音视频互联互通解决方案提供商,多媒体扩声解决方案,电教音响,音响,功放,话筒,2.4G话筒,分布式会议管理,远程视频会议">
        <meta name="description"
              content="广州佳比亚电子科技有限公司（以下简称佳比亚电子），隶属于佳比国际集团有限公司（以下简称佳比国际），拥有自主品牌“Jusbe（佳比）”，集研发、生产、销售及服务于一体；自2002年组建公司核心团队至今，发展至目前已拥有25家直属分支机构分布全国各地，是国内较具规模的音频专业化科技企业之一。产品线覆盖专业工程音响、数字影院音响、智能会议系统、数字化公共广播系统、多媒体教学扩声音响等。">
        <link th:href="@{/site/main_files/css/global.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/site/main_files/css/layout.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/site/main_files/css/index.css}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" th:href="@{/site/main_files/css/share_style0_16.css}">
        <script type="text/javascript" th:src="@{/site/main_files/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/site/main_files/js/jquery.SuperSlide.2.1.source.js}"></script>
        <script type="text/javascript" th:src="@{/site/main_files/js/index.js}"></script>
        <script type="text/javascript" th:src="@{/site/main_files/js/share.js}"></script>
        <script type="text/javascript" th:src="@{/site/main_files/js/layout.js}"></script>


    </div>
</header>
</html>