.fullSlide .prev,
.fullSlide .next,
.indexOne li p img {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

/* 本例子css */
.fullSlide {
    width: 100%;
    min-width: 1200px;
    position: relative;
    overflow: hidden;
    height: 800px;
    background: #fff;
    border-top: #EAEAEA solid 0px;
    margin-top: 0px;
}

.fullSlide .bd {
    margin: 0 auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.fullSlide .bd ul {
    width: 100% !important;
}

.fullSlide .bd li {
    width: 100% !important;
    height: 800px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.fullSlide .bd li .liimg {
    display: block;
    width: 100%;
    height: auto;
}

.fullSlide .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
}

.fullSlide .hd ul {
    text-align: center;
    margin-top: -30px;
}

.fullSlide .hd ul li {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 15px;
    height: 15px;
    margin: 5px;
    overflow: hidden;
    border: 1px solid #D70000;
    border-radius: 50%;
    line-height: 999px;
}

.fullSlide .hd ul .on {
    background: #D70000;
}

.fullSlide .prev,
.fullSlide .next {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -23px;
    z-index: 1;
    width: 46px;
    height: 46px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    border-radius: 5px;
}

.fullSlide .prev {
    left: -46px;
    background: url(../images/arrow_l.png) center #292929 no-repeat;
}

.fullSlide .next {
    right: -46px;
    background: url(../images/arrow_r.png) center #292929 no-repeat;
}

.fullSlide:hover .prev {
    left: 2%;
    opacity: 1;
    filter: alpha(opacity=100);
}

.fullSlide:hover .next {
    right: 2%;
    opacity: 1;
    filter: alpha(opacity=100);
}

.fullSlide .prev:hover,
.fullSlide .next:hover {
    background-color: #D70000;
}


.fullSlide .bd ul li .divSlidebox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

.fullSlide .bd ul li .divSlidebox img {
    visibility: hidden;
    position: absolute;
    transition: all 800ms ease-out;
    left: 0%;
    top: 0%;
    opacity: 0;
    display: block;
    width: 100%;
    height: auto;
}

/*.fullSlide .bd ul li .divSlidebox .imagebg1{margin-left: -866px;margin-top: -310px;}
.fullSlide .bd ul li .divSlidebox .imagebg2{margin-left: -400px;margin-top: -350px;}
.fullSlide .bd ul li .divSlidebox .imagebg3{margin-left: -640px;margin-top: -450px;}
.fullSlide .bd ul li .divSlidebox .imagebg4{margin-left: -750px;margin-top: -350px;}
.fullSlide .bd ul li .divSlidebox .imagebg5{margin-left: -570px;margin-top: -320px;}
.fullSlide .bd ul li .divSlidebox .imagebg6{margin-left: -570px;margin-top: -320px;}
.fullSlide .bd ul li .divSlidebox .imagebg7{margin-left: -860px;margin-top: -400px;}*/
.fullSlide .bd ul li .divSlideUp img {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
}

.fullSlide .bd ul li .divSlideDown img {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
}

.fullSlide .bd ul li .divSlideLeft img {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
}

.fullSlide .bd ul li .divSlideRight img {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
}

.fullSlide .bd ul li.on .divSlidebox img {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    visibility: visible;
    opacity: 1;
}

/* banner end */

.indexOne {
    margin: -240px auto 0;
    width: 1200px;
    position: relative;
}

.indexOne ul {
    position: relative;
}

.indexOne li {
    float: left;
    width: 390px;
    margin: 0 5px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
}

.indexOne li p img {
    display: block;
    height: 210px;
    width: 400px;
}

.indexOne li:hover p img {
    transform: scale(1.05);
}

.indexOne li .lunnr {
    position: absolute;
    top: 20px;
    left: 55px;
}

.indexOne li .lunnr h4 {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    padding-right: 26px;
    background: url(../images/iconindex1.png) no-repeat right center;
}

.indexOne li:hover .lunnr h4 {
    background: url(../images/iconindex2.png) no-repeat right center;
    color: #D70000;
}

.ulwrap {
    width: 100%;
    position: relative;
    z-index: 3;
}

.indexOne .prev, .indexOne .next {
    width: 27px;
    height: 50px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    display: block;
    z-index: 100;
}

.indexOne .prev {
    background: url(../images/btnl.png) no-repeat;
    left: -40px;
}

.indexOne .next {
    background: url(../images/btnr.png) no-repeat;
    right: -40px;
}

.indexOne .prev:hover {
    background: url(../main_files/btnl_h.png) no-repeat;
}

.indexOne .next:hover {
    background: url(../main_files/btnr_h.png) no-repeat;
}


/* news */
.wwmainCon {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

.indexnews {
    padding: 35px 0 10px 0;
}

.indexnewslist {
    float: left;
    width: 380px;
    margin-right: 30px;
    position: relative;
}

.indexmintit h3 {
    color: #333;
    font-size: 24px;
    padding-bottom: 12px;
    background: url(../images/wwpic08.jpeg) no-repeat left bottom;
}

.indexnewslistbox dl {
    margin-bottom: 30px;
    overflow: hidden;
    background: #efefef;
}

.indexnewslistbox dl:hover {
    background: #D70000;
}

.indexnewslistbox dl dt {
    float: left;
    width: 101px;
    height: 76px;
    border-radius: 0 15px 0px 0;
    overflow: hidden;
}

.indexnewslistbox dl dt img {
    width: 101px;
    height: 76px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.indexnewslistbox dl:hover dt img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.indexnewslistbox dl dd {
    margin-left: 110px;
    padding: 5px;
}

.indexnewslistbox dl dd p {
    color: #333;
    line-height: 21px;
    height: 42px;
    margin-bottom: 2px;
    overflow: hidden;
}

.indexnewslistbox dl dd span {
    display: block;
    color: #999;
    font-size: 12px;
}

.indexnewslistbox dl:hover dd p {
    color: #fff;
}

.indexnewslistbox dl:hover dd span {
    color: #fff;
}

.indexnewslistbox {
    padding: 30px 0 0 0;
    position: relative;
}

.indexnewslistbox .prev, .indexnewslistbox .next {
    display: block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -30px;
    border: 1px solid #e0e0e0;
    background-repeat: no-repeat;
    background-image: url(../images/icon_arrow.png);
}

.indexnewslistbox .prev {
    background-position: 0px -5px;
    right: 31px;
}

.indexnewslistbox .next {
    background-position: -48px -5px;
    right: 0px;
}

.indexnewslistbox .prev:hover {
    background-position: 0px -45px;
}

.indexnewslistbox .next:hover {
    background-position: -48px -45px;
}

.shipinlist {
    float: left;
    width: 380px;
    position: relative;
}

.shipinlist .videobox {
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
}

.shipinlist .videobox img {
    display: block;
    height: 100%;
    width: 100%;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.shipinlist .videobox:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.shipinlist .videobox em {
    display: block;
    width: 69px;
    height: 69px;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    background: url(../images/videobg.png) no-repeat center;
    position: absolute;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.shipinlist .videobox:hover em {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(0);
    -webkit-transform: scale(0);
}

.shipinlist h3 {
    margin-top: 15px;
    font-size: 24px;
    color: #333;
}

.shipinlist p {
    margin-top: 5px;
    font-size: 16px;
    color: #444;
}

.shipinlist .more {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background: url(../images/more.png) no-repeat center;
    bottom: 16px;
    right: 10px;
    filter: alpha(opacity=80);
    opacity: .8;
}

.shipinlist .more:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

.shipin-box {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, .8);
    z-index: 9999;
    display: none;
}

.shipin-cont {
    position: absolute;
    width: 1000px;
    height: 600px;
    left: 50%;
    top: 50%;
    margin: -300px 0 0 -500px;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 0;
    filter: alpha(opacity=0);
}

.shipin-box.show .shipin-cont {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    filter: alpha(opacity=100);
}

.shipin-cont .shipin1 {
    text-align: center;
}

.shipin-cont span.close {
    display: block;
    width: 28px;
    height: 27px;
    opacity: .6;
    position: absolute;
    background: url(../main_files/xsy-8.png) center center;
    right: -30px;
    top: -30px;
    cursor: pointer;
}

.shipin-cont span.close:hover {
    opacity: 1;
}










